<section >
    <div class="container py-5 text-white">
        <div class="d-flex justify-content-center align-items-center flex-column">
            <img class="w-25 my-5 pt-5" src="../../assets/images/avataaars.svg" alt="main image">
            <h3 class="my-2">START FRAMEWORK</h3>
            <div class="position-relative line">
                <i class="fa-solid fa-star mx-2"></i>
            </div>
            <p>Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</section>